[submodule "board_interface"]
	path = board_interface
	url = https://github.com/CuUwrRobotics/board_interface.git
[submodule "camera_controller"]
	path = camera_controller
	url = https://github.com/CuUwrRobotics/camera_controller.git
[submodule "web-gui"]
	path = web-gui
	url = https://github.com/CuUwrRobotics/web-gui
[submodule "diagnostic_display"]
	path = diagnostic_display
	url = https://github.com/CuUwrRobotics/diagnostic_display
[submodule "mpu6050_reader"]
	path = mpu6050_reader
	url = https://github.com/CuUwrRobotics/mpu6050_reader
[submodule "PiranhaBot"]
	path = PiranhaBot
	url = https://github.com/CuUwrRobotics/PiranhaBot
[submodule "SurfaceDevice/pelco_d_interface"]
	path = SurfaceDevice/pelco_d_interface
	url = https://github.com/CuUwrRobotics/pelco_d_interface
