[submodule "board_interface"]
	path = board_interface
	url = https://github.com/CuUwrRobotics/board_interface.git
[submodule "camera_controller"]
	path = camera_controller
	url = https://github.com/CuUwrRobotics/camera_controller.git
[submodule "web-gui"]
	path = web-gui
	url = https://github.com/CuUwrRobotics/web-gui
[submodule "diagnostic_display"]
	path = diagnostic_display
	url = https://github.com/CuUwrRobotics/diagnostic_display
